<div class="container holder">

	<div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{ 'ABOUT' | translate}} <a class="pull-right" href="#/login"><span class="glyphicon glyphicon-log-in"></span> <strong> {{ 'BACK_TO_LOGIN_CAPS' | translate}}</strong></a></h2>
        </div>
  
        <div class="panel-body">
        	<div class="panel panel-default">
        		<div class="panel-heading">
        			<p>Basic info</p>
        		</div>
        		<div class="panel-body">
        			<img ng-src="img/PAIS_logo_S.png"></img>
        			<p class="pulltop20">AGRO PAIS</p>
        			<p>Novi Sad, Serbia</p>
        		</div>
        	</div>
        	<div class="panel panel-default">
        		<div class="panel-heading">
        			<p>What is PAIS?</p>
        		</div>
        		<div class="panel-body">
        			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        		</div>

        	</div>
        	<div class="panel panel-default">
        		<div class="panel-heading">
        			<p>How to use it?</p>
        		</div>
        		<div class="panel-body">
        			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        		</div>
        	</div>
        </div>
        		
        </div>

         
    </div>



    

</div>
</div>
</div>
