<div class="container">
    <nav class="navbar navbar-default" ng-include="'partials/navigationBar.html'">
    </nav>


    <div class="alert alert-warning" ng-if="accounts.length==0">
        <a class="close" aria-label="close">&times;</a>
        <strong>{{ 'ORDERS' | translate }}</strong> {{ 'NO_ORDERS' | translate }} 
        <a href="#/newOrder"class="alert-link"> {{ 'NEW_ORDER' | translate}}</a>
    </div>

    <div class="col-lg-4" ng-if="accounts.length>0" cg-busy="{promise:getOrders,message:'Loading...',backdrop:true}">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'ORDERS' | translate}}</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <a class="list-group-item hoverblue" ng-repeat="account in accounts" ng-click="select(account.order_id)"
                       id="{{account.order_id}}" ng-class="{'active' : isActive(account.order_id)}">{{account.name}} <span class="badge activeBadge" ng-if="account.status==2">{{ 'ACTIVE' | translate}}</span> <span class="badge inactiveBadge" ng-if="account.status==0">{{ 'INACTIVE' | translate}}</span> <span class="badge" ng-if="account.status==1">{{ 'PENDING' | translate}}</span></a>
                </ul>
            </div>
        </div>
    </div>


    <div class="col-lg-8" ng-if="accounts.length>0" ng-show="!loaded">
        <div class="panel panel-default">
            <div class="panel-heading form-group">
                <h3 class="panel-title">{{ 'LOADING' | translate }}</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-8" ng-if="accounts.length>0" cg-busy="{promise:getFrequencies,message:'Loading...',backdrop:true}" ng-show="loaded">
        <div class="alert alert-success" ng-if="selectedAccount.status==1">
            <strong> <a class="cursorchg" ng-click="showInvoice()" class="alert-link"> {{ 'OPEN_INVOICE' | translate}}</a> </strong>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'DETAILS' | translate}}</h3>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{ 'DESCRIPTION' | translate}}</h4>
                    </div>
                    <div class="panel-body">
                        <label>{{selectedAccount.description}} </label>
                    </div>
                </div>
                    <div class="panel panel-default" ng-show="selectedAccount.polygons.length>0">
                            <div class="panel-heading">
                                <h4 class="panel-title">{{ 'IMAGES' | translate}}</h4>
                            </div>
                            <div class="panel-body">
                                {{ 'CREATED_AT' | translate}} {{selectedAccount.created_at}}
                                <p ng-show="selectedAccount.start_date != null">{{ 'FROM' | translate}} {{selectedAccount.start_date}}</p>
                                <p ng-show="selectedAccount.end_date != null">{{ 'TO' | translate}} {{selectedAccount.end_date}}</p>
                                </br>
                                {{ 'NO_TERITORIES' | translate}} {{selectedAccount.polygons.length}} 
                                </br>
                                {{ 'SURFACE' | translate}} {{totalSurface}}
                                </br>
                                <hr>
                                {{ 'IMAGE_TYPES' | translate}}
                                <ul>
                                    <li ng-repeat="imageType in selectedAccount.imageTypes">{{imageType.image_type_name}}</li>
                                </ul>
                                {{ 'IMAGE_FREQ' | translate}} {{frequencyName}} 
                                <hr>
                                <div class="panel panel-default panelSmallBorder" ng-repeat="polygon in selectedAccount.polygons">
                                    <div class="panel-heading panelSmall">
                                        <h5>{{ 'TER_ID' | translate }} {{polygon.polygon_id}}<h5>
                                    </div>
                                    <div class="panel-body">
                                        {{ 'TER_SURFACE' | translate}}
                                        <input class="form-control" ng-disabled="true" ng-value="polygon.surface">
                                        <textarea class="form-control separateFive" ng-disabled="true" rows="2" ng-model="polygon.description" placeholder="{{ 'TER_DESC' | translate }}"></textarea>
                                    </div>
                                </div>
                            </div>
                    </div>
                     <div class="panel panel-default" ng-show="selectedAccount.sensors.length>0">
                            <div class="panel-heading">
                                <h4 class="panel-title">{{ 'SENSORS' | translate}}</h4>
                            </div>
                            <div class="panel-body">
                                {{ 'NO_SENSORS' | translate}}: {{selectedAccount.sensors.length}} 
                                </br>
                                <span class="badge activeBadge pull-right" ng-if="selectedAccount.sensors.length > 0">{{ 'ACTIVE_SENSORS' | translate}} {{activeSensors}}</span><span class="badge inactiveBadge pull-right" ng-if="selectedAccount.sensors.length > 0">{{ 'INACTIVE_SENSORS' | translate}} {{nonActiveSensors}}</span></dt>
                            </div>
                    </div>

                   
                      
        
                </div>
            </div>
        </div>
    </div>
</div>

</div>