<div class="container">
    <nav class="navbar navbar-default" ng-include="'partials/navigationBar.html'">
    </nav>

    <div class="panel panel-default" cg-busy="{promise:getUser,message:'Loading...',backdrop:true}">
        <div class="panel-heading">
            <h2 class="panel-title">{{ 'MY_DATA' | translate }} </h2>
        </div>
        <form class="panel-body">
            <div class="col-sm-6">
                <dl>
                    <dt><label>{{ 'USERNAME' | translate }}:  </label></dt>
                    <dd>
                        <div class="col-xs-10">
                            <input class="form-control bold" placeholder="{{ 'USERNAME' | translate }}" ng-model="user.username" ng-disabled=true>
                        </div>
                    </dd>
                    </br>
                    <hr>
                    <dt><label>{{ 'PASSWORD' | translate }}:  </label></dt>
                    <dd>
                        <div class="col-xs-10">
                            <input type="password" name="password" class="form-control" placeholder="{{ 'PASSWORD' | translate }}" ng-model="user.password" required>
                        </div>
                    </dd>
                    </br>
                    <hr>
                    <dt><label>{{ 'E-MAIL' | translate }}:  </label></dt>
                    <dd>
                        <div class="col-xs-10">
                            <input type="email" name="email" class="form-control" placeholder="{{ 'MAIL_EXAMPLE' | translate }}" ng-model="user.email" required>
                        </div>
                    </dd>
                    </br>
                    <hr>
                    <dt><label>{{ 'NAME' | translate }}: </label></dt>
                    <dd>
                        <div class="col-xs-10">
                            <input class="form-control" placeholder="{{ 'NAME' | translate }}" ng-model="user.first_name">
                        </div>
                    </dd>
                    </br>
                    <hr>
                    <dt><label>{{ 'SURNAME' | translate }}: </label></dt>
                    <dd>
                        <div class="col-xs-10">
                            <input class="form-control" placeholder="{{ 'SURNAME' | translate }}" ng-model="user.last_name">
                        </div>
                    </dd>
                    </br>
                    <hr>
                </dl>
            </div>

            <div class="col-sm-6">
                <dl>
                    <dt><label>{{ 'ACCOUNT_TYPE' | translate }}</label></dt>
                    <dd>
                        <div class="col-xs-10">
                            <input class="form-control" placeholder="{{ 'ACCOUNT_TYPE' | translate }}" ng-disabled=true ng-model="user.type_name">
                        </div>
                    </dd>
                    </br>
                    <hr>
                    <dt><label>{{ 'PHONE' | translate }}: </label></dt>
                    <dd>
                        <div class="col-xs-10">
                            <input class="form-control" placeholder="{{ 'PHONE' | translate }}" ng-model="user.phone">
                        </div>
                    </dd>
                    </br>
                    <hr>
                    <dt><label>{{ 'COUNTRY' | translate }}: </label></dt>
                    <dd>
                        <div class="col-xs-10">
                            <input class="form-control" placeholder="{{ 'COUNTRY' | translate }}" ng-model="user.country_code" ng-disabled=true>
                        </div>
                    </dd>
                    </br>
                    <hr>
                    <dt><label>{{ 'DOB' | translate }}: </label></dt>
                    <dd>
                        <div class="col-xs-10">
                            <input class="form-control" placeholder="{{ 'DOB' | translate }}" ng-model="user.registration_date" ng-disabled=true>
                        </div>
                    </dd>
                </dl>
                </br>
                <div class="col-xs-10 pulltopbutton">
                    <submit class="btn-lg btn-primary pull-right cursorchg" type="button" ng-click="updateUser()">{{ 'SAVE' | translate }}</submit>
                </div>
            </div>
        </form>
    </div>

    <div class="alert alert-success" ng-show="updateSuccess && updateDone">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ 'PROFILE_CHANGE' | translate }}</strong> {{ 'PROFILE_CHANGE_SUCCESS' | translate }}
    </div>

    <div class="alert alert-danger" ng-show="!updateSuccess && updateDone">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ 'PROFILE_CHANGE' | translate }}</strong> {{ 'PROFILE_CHANGE_FAIL' | translate }}
    </div>
</div>
</div>

</div>