<div class="container">
    <nav class="navbar navbar-default" ng-include="'partials/navigationBar.html'">
    </nav>

    <div class="col-lg-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Porudžbine</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <a class="list-group-item hoverblue" ng-repeat="account in accounts" ng-click="sayHello(account)"
                       id="{{account}}" ng-class="{'active' : isActive(account)}">{{account}}</a>
                </ul>
            </div>
        </div>
    </div>


    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Detalji</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <dl>
                        <dt><label>{{ 'NO_TERITORIES' | translate}} </label></dt>
                        <dd>
                            <div class="col-xs-10">
                                <input class="form-control" placeholder="Niste odabrali nijednu površinu"
                                       ng-model="polygonsNums" ng-disabled="true">
                            </div>
                        </dd>
                        <dt><label>{{ 'SURFACE' | translate}}</label></dt>
                        <dd>
                            <div class="col-xs-10">
                                <input class="form-control" placeholder="Niste odabrali nijednu površinu"
                                       ng-model="polygonsSurface" ng-disabled="true">
                            </div>
                        </dd>
                        </br>
                        <hr>
                        <dt><label>{{ 'IMAGE_TYPES' | translate}} </label></dt>
                        <dd>
                            <div class="col-xs-10 fullwidth">
                                <ul class="list-group">
                                    <a class="list-group-item hoverblue" ng-repeat="record in records">{{record}}</a>
                                </ul>
                            </div>
                        </dd>
                        <dt><label>{{ 'IMAGE_FREQ' | translate}} </label></dt>
                        <dd>
                            <div class="col-xs-10">
                                <input class="form-control" placeholder="" ng-model="sensorFreq" ng-disabled="true">
                            </div>
                        </dd>
                        </br>
                        <hr>
                        <dt><label>{{ 'IMAGE_START' | translate}} </label></dt>
                        <dd>
                            <div class="col-xs-10">
                                <input class="form-control" type="date" min="2015-07-01" ng-model="dateFrom"
                                       ng-disabled="true">
                            </div>
                        </dd>
                        <br>
                        <hr>
                        <dt><label>{{ 'IMAGE_END' | translate}} </label></dt>
                        <dd>
                            <div class="col-xs-10">
                                <input class="form-control" type="date" min="2015-07-01" ng-model="dateTo"
                                       ng-disabled="true">
                            </div>
                        </dd>
                </div>
            </div>
        </div>
    </div>
</div>

</div>