<div class="container">

<div class="col-lg-6 col-lg-offset-6 pulltop loginform">
        <form class="insideloginform">
            <div class="form-group">
                <input type="email" class="form-control input-lg" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" id="inputPassword" placeholder="Password">
            </div>
            <div>
                <a href="/pais/#/registration"> Napravi novi nalog</a>
                <a class="btn btn-primary submitbutton btn-lg pull-right" role="button" href="#/newOrder">Ulaz</a>
            </div>
        </form>
<div>
</div>