 <div id="wrapper">

        <div ng-include="'partials/navigation.html'">
        </div>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{ 'IMAGE' | translate }} <small>{{imageObj.document_name}} <a class="btn btn-primary pull-right btn-right-pull" ng-click="newWindow()" ng-disabled="loading"><span class="glyphicon glyphicon-paste"></span> {{ 'IMAGE_OPEN' | translate }}</a> <a class="btn btn-primary pull-right btn-right-pull" href="#/polygonsMap/{{client_id}}/{{order_id}}/"><span class="glyphicon glyphicon-globe"></span> {{ 'POLY_MAP' | translate }}</a> <a class="btn btn-primary pull-right btn-right-pull" href="#/results/{{order_id}}/"><span class="glyphicon glyphicon-chevron-left"></span> {{ 'BACK_RESULTS' | translate }}</a></small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
	                <div class="col-lg-12">
	                	 <div class="panel-body img-responsive imgHolder">
		                <!--<img src="http://www.exosphere3d.com/pubwww/images/aspen_colorado/aspen_overhead_view.jpg" image-zoom class="img-responsive">
		                <div image-src="http://www.exosphere3d.com/pubwww/images/aspen_colorado/aspen_overhead_view.jpg" image-zoom></div>-->
		                	
		                	<div class="alert alert-info" role="alert" ng-show="loading"><strong>{{ 'LOADING' | translate}}</strong></div>

		                	<div id="example2" class="img-responsive" data-ng-magnify
                     		image-src="{{imageSrc}}" ng-show="!loading"></div>
            			</div>
	     			</div>
                </div>
               
                <!-- /.row -->

             

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->