<div id="wrapper">

	<div ng-include="'partials/navigation.html'">
	</div>

	<!-- Modal -->
	<script type="text/ng-template" id="sensorStats.html">
	<div>

	<!-- Modal content-->
	<div>
	<div class="modal-header">
	<button type="button" class="close" ng-click="dismissModal()">&times;</button>
	<h4 class="modal-title">{{ 'STATISTICS' | translate }} | {{selectedSensor.selectedSensor.type_name}}</h4>
	</div>
	<div class="modal-body">
	<div class="alert alert-success" ng-style="{'color': selectedSensor.selectedSensor.color, 'background-color' : selectedSensor.selectedSensor.color, 'border-color' : selectedSensor.selectedSensor.color, 'opacity' : 0.7}" role="alert" ng-show="selectedSensor.selectedSensor.description.length>0">
		<p class="descText">{{selectedSensor.selectedSensor.description}}</p>
	</div>

	<div class="statsCard" ng-style="{'color': selectedSensor.selectedSensor.color, 'opacity' : 0.7}">
			<div class="col-lg-6 text-center">
				<p class="statsCardTextSmallDate">{{ 'FROM' | translate }}</p>
				<p class="statsCardTextDate">{{fromDate}}</p>
			</div>
			<div class="col-lg-6 text-center vcenter">
				<p class="statsCardTextSmallDate">{{ 'TO' | translate }}</p>
				<p class="statsCardTextDate">{{toDate}}</p>
			</div>
	</div>
	<hr>

	<div class="alert alert-info" role="alert" ng-show="loading">
		<strong>{{ 'LOADING' | translate }}</strong>
	</div>

	<div class="alert alert-warning" role="alert" ng-show="!loading && selectedSensor.selectedSensor.stats == null">
		<strong>{{ 'WARNING_GEN' | translate }}</strong> {{ 'NO_DATA' | translate }}
	</div>

	<div ng-show="!loading && selectedSensor.selectedSensor.stats != null">
		<div class="statsCard" ng-style="{'color': selectedSensor.selectedSensor.color, 'opacity' : 0.7}">
			<div class="col-lg-6 text-center">
				<i class="fa fa-sort-numeric-asc statsCardIcon"></i>
				<p class="statsCardTextSmall">{{ 'STAT_STD' | translate }}</p>
			</div>
			<div class="col-lg-6 text-center vcenter">
				<p class="statsCardText">{{roundDoubleTwo(selectedSensor.selectedSensor.stats.std_value)}}</p>
			</div>
		</div>
		<div class="statsCard" ng-style="{'color': selectedSensor.selectedSensor.color, 'opacity' : 0.7}">
			<div class="col-lg-6 text-center">
				<i class="fa fa-arrows-h statsCardIcon"></i>
				<p class="statsCardTextSmall">{{ 'STAT_MEAN' | translate }}</p>
			</div>
			<div class="col-lg-6 text-center vcenter">
				<p class="statsCardText">{{roundDoubleTwo(selectedSensor.selectedSensor.stats.avg_value)}} {{selectedSensor.selectedSensor.uom_symbol}}</p>
			</div>
		</div>
		<div class="statsCard" ng-style="{'color': selectedSensor.selectedSensor.color, 'opacity' : 0.7}">
			<div class="col-lg-6 text-center">
				<i class="fa fa-arrow-up statsCardIcon"></i>
				<p class="statsCardTextSmall">{{ 'STAT_MAX' | translate }}</p>
			</div>
			<div class="col-lg-6 text-center vcenter">
				<p class="statsCardText">{{roundDoubleTwo(selectedSensor.selectedSensor.stats.max_value)}} {{selectedSensor.selectedSensor.uom_symbol}}</p>
			</div>
		</div>
		<div class="statsCard" ng-style="{'color': selectedSensor.selectedSensor.color, 'opacity' : 0.7}">
			<div class="col-lg-6 text-center">
				<i class="fa fa-arrow-down statsCardIcon"></i>
				<p class="statsCardTextSmall">{{ 'STAT_MIN' | translate }}</p>
			</div>
			<div class="col-lg-6 text-center vcenter">
				<p class="statsCardText">{{roundDoubleTwo(selectedSensor.selectedSensor.stats.min_value)}} {{selectedSensor.selectedSensor.uom_symbol}}</p>
			</div>
		</div>
	</div>

	</div>
	<div class="modal-footer">
	<a type="button" class="btn btn-danger" ng-click="saveSelection()"><span class="glyphicon glyphicon-remove"></span> {{ 'CANCEL' | translate }}</a>
	</div>
	</div>

	</div>
	</script>



	<!-- Modal -->
	<script type="text/ng-template" id="saveSelection.html">
	<div>

	<!-- Modal content-->
	<div>
	<div class="modal-header">
	<button type="button" class="close" ng-click="dismissModal()">&times;</button>
	<h4 class="modal-title">{{ 'SAVE_SELECTION' | translate }}</h4>
	</div>
	<div class="modal-body">
	<p>{{ 'SELECTION_NAME' | translate }}</p>
	<input class="form-control" ng-model="sensors.name" placeholder="{{ 'SELECTION_NAME' | translate }}"/>
	<table class="table table-bordered table-hover pulltopbutton">
	<thead>
	<tr>
	<th>{{ 'COLOR' | translate }}</th>
	<th>{{ 'SENSOR_TYPE' | translate }}</th>
	<th>{{ 'UOM' | translate }}</th>

	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="sen in sensors.sensors">
	<td class="text-center"><div ng-style="{'height': '20px','width': '20px', 'background-color': sen.color}"></div></td>
	<td>{{sen.type_name}}</td>
	<td>{{sen.uom_name}}</td>
	</tr>
	</tbody>
	</table>
	<div class="alert alert-warning" role="alert">

	<strong>{{ 'WARNING_GEN' | translate }}</strong> {{ 'COMB_WAR' | translate }}
	</div>
	</div>
	<div class="modal-footer">
	<a type="button" class="btn btn-primary" ng-click="saveSelection()" ng-disabled="sensors.name.length < 3"><span class="glyphicon glyphicon-save"></span> {{ 'SAVE' | translate }}</a>
	<a type="button" class="btn btn-danger" ng-click="dismissModal()"><span class="glyphicon glyphicon-remove"></span> {{ 'CANCEL' | translate }}</a>
	</div>
	</div>

	</div>
	</script>

	<div id="page-wrapper">

		<div class="container-fluid">

			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
						{{ 'SENSORS' | translate }} <small>{{ 'DETAILS' | translate }}</small>
					</h1>
				</div>
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-lg-12">
					<div class="col-lg-6">
						<div class="panel panel-default panelBorder">
							<div class="panel-heading panelBig">
								<h5>{{ 'ADD_SENSOR_TO_GRAPH' | translate }}</h5>
							</div>
							<div class="panel-body">
								<div class="input-group">
									<select ng-disabled="sensors.length == 0" class="form-control" ng-model="sensorToAdd">
										<option ng-repeat="sensor in sensors" value="{{sensor.unique_id}}">{{sensor.type_name}} [Sensor Station {{sensor.station_id}}] {{ 'FROM_ORDER' | translate }} [{{sensor.order_name}}]</option>
									</select>
									<a ng-disabled="sensors.length == 0 || loading" class="cursorchg input-group-addon" id="basic-addon2" ng-click="addToSelectedSensor()"><span class="glyphicon glyphicon-plus"></span> {{ 'ADD_TO_SELECTION' | translate }}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="panel panel-default panelBorder">
							<div class="panel-heading panelBig">
								<h5>{{ 'SAVED_SELECTION' | translate }}</h5>
							</div>
							<div class="panel-body imagePanel">
								<table class="table table-bordered table-hover" ng-repeat="sel in selections">
									<caption>{{sel.name}} <a ng-click="loadSelection(sel)" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-download-alt"></span> {{ 'LOAD_SELECTION' | translate }}</a> <a ng-click="removeSelection(sel.name)" class="btn btn-warning btn-sm pull-right btn-right-pull"><span class="glyphicon glyphicon-download-alt"></span> {{ 'REMOVE_SELECTION' | translate }}</a></caption>
									<thead>
										<tr>
											<th>{{ 'COLOR' | translate }}</th>
											<th>{{ 'SENSOR_TYPE' | translate }}</th>
											<th>{{ 'UOM' | translate }}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="sen in sel.sensors">
											<td class="text-center"><div ng-style="{'height': '20px','width': '20px', 'background-color': sen.color}"></div></td>
											<td>{{sen.type_name}}</td>
											<td>{{sen.uom_name}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-lg-12 row">
					<div class="col-lg-3">
					<div class="panel panel-default panelBorder">
							<div class="panel-heading panelBig">
								<h5>{{ 'COMMANDS' | translate }}</h5>
							</div>
							<div class="panel-body margin">
								<label class="labelwidth">{{ 'FROM' | translate }}: </label>
									<div class="form-group row">
										<div class="dropdown">
											<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
												<div class="input-group"><input type="text" class="form-control"
													data-ng-model="dateFrom | date:'dd.MM.yyyy HH:mm'">
													<span
													class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
												</span>
											</div>
										</a>
										<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
											<datetimepicker data-ng-model="dateFrom" 
											data-on-set-time="onTimeSetFrom(newDate, oldDate)"
											data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
										</ul>
									</div>
								</div>
								<label class="labelwidth">{{ 'TO' | translate }}: </label>
								<div class="form-group row">
									<div class="dropdown">
										<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
											<div class="input-group"><input type="text" class="form-control"
												data-ng-model="dateTo | date:'dd.MM.yyyy HH:mm'">
												<span
												class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
											</span>
										</div>
									</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<datetimepicker data-ng-model="dateTo" 
										data-on-set-time="onTimeSetFrom(newDate, oldDate)"
										data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
									</ul>
								</div>
							</div>
							<a ng-disabled="selectedSensors.length == 0 || loading" class="btn btn-primary btn-lg full-btn" ng-click="loadData()"><span class="glyphicon glyphicon-signal"></span> {{ 'LOAD_DATA' | translate }}</a>
							</div>
					</div>
					</div>
					<div class="col-lg-9">
						<div class="panel panel-default panelBorder">
							<div class="panel-heading panelBig">
								<h5>{{ 'SELECTED_SENSORS' | translate }} <a ng-click="saveSelectionDialog()" ng-show="selectedSensors.length != 0 && !loading" class="pull-right cursorchg"><span class="glyphicon glyphicon-save"></span> {{ 'SAVE_SELECTION' | translate }}</a> </h5>
							</div>
							<div class="panel-body margin">
								<div class="col-lg-12">
									<div class="row">
										<div class="col-lg-4 col-md-4" ng-repeat="sensor in selectedSensors">
											<label><a class="cursorchg" ng-click="removeFromSelected(sensor.unique_id)" ng-style="{'color' : sensor.color, 'opacity' : '0.7'}"><span class="glyphicon glyphicon-remove"></span> {{ 'REMOVE' | translate }}</a></label>
											<div class="panel" ng-style="{'border-color': sensor.color}">
												<div class="panel-heading" ng-style="{'background-color': sensor.color, 'color' : 'white', 'opacity' : '0.7'}">
													<div class="row">
														<div class="col-xs-3">
															<i class="fa fa-5x" ng-class="{'fa-umbrella' : sensor.type_id==2, 'fa-sun-o' : sensor.type_id==1, 'fa-area-chart' : sensor.type_id > 2}"></i>
														</div>
														<div class="col-xs-9 text-right">
															<div class="huge mycard">{{sensor.type_name}}</div>
															<div>{{sensor.description | limitTo:60}}</div>
														</div>
														<div class="col-xs-12 text-right" ng-show="sensor.active == 1">
															<div>{{ 'ACTIVE_FROM' | translate }}: {{sensor.activate_at}}</div>
														</div>
													</div>
												</div>
												<a>
													<div class="panel-footer" ng-style="{'color': sensor.color}">
														<div ng-show="sensor.active == 1">
															<span class="pull-left cursorchg" ng-click="showStats(sensor.unique_id)">{{ 'SHOW_STATS' | translate }}</span>
															<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
															<div class="clearfix"></div>
														</div>
														<div ng-show="sensor.active == 0">
															<span class="pull-left">{{ 'INACTIVE' | translate }}</span>
															<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
															<div class="clearfix"></div>
														</div>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>	
			</div>
			<div class="col-lg-12">
				<div class="alert alert-info" role="alert" ng-show="loadedSensors!=selectedSensors.length && loading"><strong>{{ 'LOADING' | translate}} {{loadedSensors}}/{{selectedSensors.length}}</strong></div>
			</div>
			<div class="col-lg-12">		
				<div id="containerhc" class="containerhc"></div>
			</div>
		</div>      
	</div>

	<!-- /.row -->



</div>
<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->