<div class="container">
    <nav class="navbar navbar-default" ng-include="'partials/navigationBar.html'">
    </nav>

    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Snimanje {{recordingId}}
                    <li class="pull-right"><a
                            href="http://www.exosphere3d.com/pubwww/images/aspen_colorado/aspen_overhead_view.jpg"><span
                            class="glyphicon glyphicon-floppy-save" download="image.png"></span> Sačuvaj</a></li>
                </h3>
            </div>
            <div class="panel-body img-responsive imgHolder">
                <!--<img src="http://www.exosphere3d.com/pubwww/images/aspen_colorado/aspen_overhead_view.jpg" image-zoom class="img-responsive">
                <div image-src="http://www.exosphere3d.com/pubwww/images/aspen_colorado/aspen_overhead_view.jpg" image-zoom></div>-->
                <div id="example2" class="img-responsive" data-ng-magnify
                     image-src="http://www.exosphere3d.com/pubwww/images/aspen_colorado/aspen_overhead_view.jpg"></div>
            </div>


        </div>
    </div>s
  </div>
</nav> 


</div>