<div class="container">

<div class="col-lg-12">
	<div class="alert alert-success" role="alert" ng-show="cloudSync">
		<strong>Syncing with Cloud...</strong>
	</div>
	<div class="alert alert-success" role="alert" ng-show="retrievingUser">
		<strong>Retrieving user data...</strong>
	</div>
	<div class="alert alert-success" role="alert" ng-show="redirectingUser">
		<strong>Redirecting to homepage...</strong>
	</div>
	<div class="alert alert-danger" role="alert" ng-show="error">
		<strong>Error occured. Please contact our support team or try again later...</strong>
	</div>
</div>

</div>


