<div class="container holder">


	<div class="panel panel-default">
	    <div class="panel-heading">
	      <h2 class="panel-title">REGISTRACIJA <a class="panel-title pull-right cursorchg">ZA PRAVNA LICA</a></h2>
	    </div>
	    <div class="panel-body">
	     	<div class="col-sm-6">
	     		<dl>
	     				<dt><label>E-MAIL: </label></dt>
						<dd>
							<div class="col-xs-10">
								<input class="form-control" placeholder="E-mail" ng-model="">
							</div>
						</dd>
						</br>
						<hr>
						<dt><label>LOZINKA: </label></dt>
						<dd>
							<div class="col-xs-10">
								<input class="form-control" placeholder="Lozinka" ng-model="">
							</div>
						</dd>
						</br>
						<hr>
						<dt><label>IME: </label></dt>
						<dd>
							<div class="col-xs-10">
								<input class="form-control" placeholder="Ime" ng-model="">
							</div>
						</dd>
						</br>
						<hr>
						<dt><label>PREZIME: </label></dt>
						<dd>
							<div class="col-xs-10">
								<input class="form-control" placeholder="Prezime" ng-model="">
							</div>
						</dd>
						</br>
						<hr>
						<dt><label>ADRESA: </label></dt>
						<dd>
							<div class="col-xs-10">
								<input class="form-control" placeholder="E-mail" ng-model="">
							</div>
						</dd>
						</br>
						<hr>
					</dl>
			</div>

			<div class="col-sm-6">
				<dl>
						<dt><label>POŠTANSKI BROJ: </label></dt>
						<dd>
							<div class="col-xs-10">
								<input class="form-control" placeholder="E-mail" ng-model="">
							</div>
						</dd>
						</br>
						<hr>
						<dt><label>OPŠTINA: </label></dt>
						<dd>
							<div class="col-xs-10">
								<input class="form-control" placeholder="E-mail" ng-model="">
							</div>
						</dd>
						</br>
						<hr>
						<dt><label>KONTAKT TELEFON: </label></dt>
						<dd>
							<div class="col-xs-10">
								<input class="form-control" placeholder="E-mail" ng-model="">
							</div>
						</dd>
						</br>
						<hr>
						<dt><label>DATUM ROĐENJA: </label></dt>
						<dd>
							<div class="col-xs-10">
								<input class="form-control" placeholder="E-mail" ng-model="">
							</div>
						</dd>			
				</dl>
			</br>
			<div class="col-xs-10 pulltopbutton">
				<a class="btn-lg btn-primary pull-right" type="button" href="#/login">REGISTRUJ SE</a>
			</div>
			</div>
	    	</div>
	    </div>
	    </div>
	</div>
</div>
