<div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/orders">PAIS</a>
    </div>


    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Nova porudžbina <span class="sr-only">(current)</span></a></li>
        <li><a href="#/orders">Moje porudžbine</a></li>
        <li><a href="#/results">Snimanja i senzori</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/userDetails">Moji podaci</a></li>
        <li><a href="#/login"><span class="glyphicon glyphicon-log-out"></span> Izlaz</a></li>
      </ul>
    </div>
  </div>
</nav> 

<div class="container-fluid sensorholder">

	<div class="col-sm-6">
		<h2>Senzor id: {{sensorId}}</h2>
	</div>
	<div class="col-sm-6">
		<dl>
			<dt>
				<label class="labelwidth">Od: </label>
			</dt>
			<dd>
				<div class="col-xs-10">
					<input class="form-control" type="date" min="2015-07-01" ng-model="dateFrom">
				</div>
			</dd>
			<dt>
				<label class="labelwidth">Do: </label>
			</dt>
			<dd>
				<div class="col-xs-10">
					<input class="form-control" type="date" min="2015-07-01" ng-model="dateTo">
				</div>
			</dd>
		</dl>
	</div>

	<div class="col-lg-12">
		 <nvd3 options="options" data="data3"></nvd3>
	</div>
</div>
