<div class="container">
    <nav class="navbar navbar-default" ng-include="'partials/navigationBar.html'">
    </nav>

    <div class="container-fluid sensorholder">

        <div class="col-sm-6">
            <h2>{{ 'SENSOR_ID' | translate }}: {{sensorId}}</h2>
        </div>
        <div class="col-sm-6">
            <dl>
                <dt>
                    <label class="labelwidth">{{ 'FROM' | translate }}: </label>
                </dt>
                <dd>
                    <div class="col-xs-10">
                        <input class="form-control" type="date" min="2015-07-01" ng-model="dateFrom">
                    </div>
                </dd>
                <dt>
                    <label class="labelwidth">{{ 'TO' | translate }}: </label>
                </dt>
                <dd>
                    <div class="col-xs-10">
                        <input class="form-control" type="date" min="2015-07-01" ng-model="dateTo">
                    </div>
                </dd>
            </dl>
        </div>

        <div class="col-lg-12">
            <nvd3 options="options" data="data3"></nvd3>
        </div>
    </div>
