body{
    background: url(img/dacom_photo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

.pulltop {
	margin-top: 5%;
}

.pulltop20 {
	margin-top: 20px;
}


.pulldown10 {
	margin-top: 10px;
}

.fullwidth {
	width: 100%;
}

.btn-right-pull {
	margin-right: 20px !important;
}

.holder {
	height:85%;
	padding: 10px;
}

.sensorholder {
	background-color: rgba(231, 231, 231, 0.9);
	padding: 10px;
}

.backopacity {
	background-color: rgba(231, 231, 231, 0.9);
}

.again {
	width: 60px;
	height: 60px;
}

.margin {
	padding: 20px;
}

.loginform {
	opacity: 0.9;
	filter:alpha(opacity=90);
	background-color: white !important;
	border-radius: 10px;
	padding-bottom: 10px;
}

.loginform2 {
	opacity: 0.9;
	filter:alpha(opacity=90);
	background-color: white !important;
	border-radius: 10px;
}

.loginform form {
	opacity: 1;
}

.submitbutton {
	width: 100% !important;
}

.insideloginform {
	padding-bottom: 30px;
	padding-top: 10px;
}

.insideloginform2 {
	padding-bottom: 10px;
	padding-top: 10px;
}

.langPicker {
	padding-bottom: 10px;
	position: absolute !important;
	min-width: 50px;
	right: 10px !important;
}

#map-canvas {
	width:100%;
    height: 80%;
}

#map-canvas-results {
	width:100%;
    height: 80%;
 }

 #map-canvas-kml {
	width:100%;
	height: 100%;
 }

.angular-google-map-container { 
	height: 80%; 	
}

.hoverblue:HOVER {
	background-color: #888888 !important;
	cursor: pointer;
}
li.active {
	background:blue; 
	color:white;
}
.map {
	margin-top: 10px;
}
.dateFromDatePicker {
	
}
.dateToDatePicker {
	
}
.freqPicker {
	
}
.labelwidth {
	width: 200px;
}
[ac-chart] {
	float:left;
	width: 100%;
	height: 70%;
	margin: 0 1%;
}

.ac-tooltip {
    color: black;
    border: 2px solid rgba(200,200,0,0.8);
    background-color: rgba(200,200,0,0.5);
 }
 #chart1 .ac-legend-box {
    border-radius: 10px;
    border: 1px black;
 }
.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

 .selectize-control > .selectize-dropdown { 
   top: 36px;
 }
.imgHolder {
	max-height: 80%;
}
.pulltopbutton {
	margin-top: 30px;
}
.pulltoppanel {
	margin-top: 10px;
}
.separateFive {
	margin-top: 5px;
}
.cursorchg {
	cursor: pointer;
}

.navbar-brand{
	background: url("img/PAIS_logo_S.png");
	height: 78px;
	width: 100px;
	margin-left: 50px !important;
	margin-top: 10px !important;
}

.navbar-fixed-top{
	height: 98px;
}
.navbar-nav{
	padding-top: 14px;
	margin-left: 5px;
}

.hover {
	cursor: pointer;
}
.brandlogin {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 40% !important;
}
.bold {
	font-weight: bold;
}
.activeBadge {
	background-color: green;
}
.inactiveBadge {
	background-color: red;
}
.canceledBadge {
	background-color: #cc0099 !important;
}
.finishedBadge {
	background-color: #0000ff !important;
}
.panelBig {
	background-color: #222 !important;
	color: white !important;
}
.panelBorder {
	border: 3px solid #222 !important;
}
.panelSmall {
	background-color: #222 !important;
	color: white !important;
}
.panelSmallBorder {
	border: 2px solid #222 !important;
}
.backGray {
	background-color: #222 !important;
}
.tableTop {
	margin-top: 30px;
}
.full {
	max-height: 500px;
	min-width: 800px;
}
.imagePanel {
	max-height: 400px;
	overflow-y: scroll;
}
.sensorCard {
	padding: 10px;
	min-height: 100px;
	max-height: 100px;
	opacity: 0.6;
}
.sensorCard :before {
    z-index: 1;
    content: '';
    position: absolute;
    opacity: 0.6;
}
.textCard {
	opacity: 1 !important;
	z-index: 999;
	color: black;
}
.mycard {
	font-size: 25px !important;
}
.statsCard {
	border: 2px solid;
	border-radius: 5px;
	min-height: 100px;
	margin-top: 10px;
}
.statsCardIcon {
	margin-top: 10px;
	font-size: 4em !important;
}
.statsCardText {
	font-size: 2.5em;
	margin-top: 20px;
}
.statsCardTextSmall {
	font-size: 0.9em;
}
.statsCardTextSmallDate {
	font-size: 0.9em;
	margin-top: 10px;
}
.statsCardTextDate {
	font-size: 2em;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.descText {
	color: white !important;
}
.loginformAck {
	opacity: 0.7;
}
.logoExt {
	max-height: 30px;
}
.footer {
	background-color: #f5f5f5;
	height: 70px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding-top: 20px;
	opacity: 0.7;
}
.contExt {
	background-color: #f5f5f5;
}
.btnAdditional {
	margin-top: 10px;
}
#myPic {
	cursor: crosshair;
}
#dgPic {
	cursor: crosshair;
}
.full-btn {
	width: 100% !important;
}
.dgHolder {
	margin-left: auto !important;
	margin-right: auto !important;
}
.dgImage {
}
.pull-left-btn {
	margin-left: 20px !important;
}
.popover {
	position: absolute;
	z-index: 100;
}
.myforminput:after {
	color: #d00;
    content: "*";
    font-size: 22px;
    position: absolute;
    margin-left: -10px;
    top: 0px;
}
@media only screen and (max-width: 1150px) {
        /* Force table to not be like tables anymore */
        #no-more-tables {
        	display: none !important;
        }
}

@media only screen and (min-width: 1150px) {
        /* Force table to not be like tables anymore */
        #no-more-tables {
        	display: block !important;
        }
}

@media only screen and (max-width: 1150px) {
        /* Force table to not be like tables anymore */
        #no-more-lists {
        	display: block !important;
        }
}

@media only screen and (min-width: 1150px) {
        /* Force table to not be like tables anymore */
        #no-more-lists {
        	display: none !important;
        }
}
.myRespoTable {
	margin-bottom: 20px !important;
}
.ul-success {
	background-color: #ccffcc !important;
}